.vscode
.nyc_output

node_modules/*
node_modules/chai/* 
node_modules/mocha/* 
node_modules/fastestsmallesttextencoderdecoder/*
node_modules/webcrypto-liner/*
node_modules/webcrypto-liner/build/*


!node_modules/chai 
!node_modules/chai/chai.js

!node_modules/mocha
!node_modules/mocha/mocha.js
!node_modules/mocha/mocha.css

!node_modules/fastestsmallesttextencoderdecoder
!node_modules/fastestsmallesttextencoderdecoder/EncoderDecoderTogether.min.js

!node_modules/webcrypto-liner
!node_modules/webcrypto-liner/build
!node_modules/webcrypto-liner/build/webcrypto-liner.shim.js